@{
    ViewData["Title"] = "L\u1ECBch s\u1EED tr\u1EA1ng th\u00E1i \u0111\u01A1n";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">L&#7883;ch s&#7917; thay &#273;&#7893;i tr&#7841;ng th&#225;i &#273;&#417;n h&#224;ng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="statusHistoryTable" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>M&#227; &#273;&#417;n</th>
                        <th>Tr&#7841;ng th&#225;i</th>
                        <th>Ng&#432;&#7901;i &#273;&#7893;i</th>
                        <th>Ghi ch&#250;</th>
                        <th>Th&#7901;i gian</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
<script>
    async function loadHistory() {
        const res = await fetch('/api/admin/order-status-histories');
        if (!res.ok) throw new Error('Kh\u00F4ng t\u1EA3i \u0111\u01B0\u1EE3c l\u1ECBch s\u1EED');
        return await res.json();
    }

    $(async function () {
        try {
            const items = await loadHistory();
            $('#statusHistoryTable').DataTable({
                data: items,
                pageLength: 10,
                order: [[0, 'desc']],
                columns: [
                    { data: 'id' },
                    { data: 'maDonHang', render: d => `#${d}` },
                    { data: 'status' },
                    { data: 'changedByUser', defaultContent: '' },
                    { data: 'note', defaultContent: '' },
                    { data: 'changedAt', render: d => d ? new Date(d).toLocaleString('vi-VN') : '' }
                ],
                language: {
                    search: 'T\u00ECm ki\u1EBFm:',
                    lengthMenu: 'Hi\u1EC3n th\u1ECB _MENU_ d\u00F2ng',
                    info: 'Hi\u1EC3n th\u1ECB _START_ \u0111\u1EBFn _END_ c\u1EE7a _TOTAL_ l\u1ECBch s\u1EED',
                    infoEmpty: 'Kh\u00F4ng c\u00F3 d\u1EEF li\u1EC7u',
                    zeroRecords: 'Kh\u00F4ng t\u00ECm th\u1EA5y l\u1ECBch s\u1EED',
                    paginate: {
                        first: '\u0110\u1EA7u',
                        last: 'Cu\u1ED1i',
                        next: 'Sau',
                        previous: 'Tr\u01B0\u1EDBc'
                    }
                }
            });
        } catch (e) {
            console.error(e);
            alert('Kh\u00F4ng th\u1EC3 t\u1EA3i d\u1EEF li\u1EC7u.');
        }
    });
</script>
}
