@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cửa Hàng Công Nghệ">
    <meta name="keywords" content="Công Nghệ, Điện Tử, Thiết Bị, HTML">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cửa Hàng Công Nghệ | Ogani</title>

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="/"><img src="/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="/Home/Cart"><i class="fa fa-shopping-bag"></i> <span id="cart-count">0</span></a></li>
            </ul>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__auth">
                @{
                    var userNameMob = HttpContextAccessor.HttpContext.Session.GetString("UserName");
                }
                @if (userNameMob != null)
                {
                    <a href="#"><i class="fa fa-user"></i> Chào, @userNameMob</a>
                }
                else
                {
                    <a href="/Account/Login"><i class="fa fa-user"></i> Đăng Nhập</a>
                }
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a href="/">Trang Chủ</a></li>
                <li><a href="/Home/Shop">Cửa Hàng</a></li>
                <li><a href="/Account/LichSuMuaHang">Lịch sử mua hàng</a></li>
            </ul>
        </nav>
    </div>

    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> support@congnghe.vn</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>

                            @* --- KHU VỰC FIX LỖI: HIỂN THỊ TÊN ĐĂNG NHẬP --- *@
                            <div class="header__top__right__auth">
                                @{
                                    var userName = User?.Identity?.IsAuthenticated == true
                                        ? User.Identity!.Name
                                        : HttpContextAccessor.HttpContext?.Session.GetString("UserName");
                                }
                                @if (userName != null)
                                {
                                    <div class="header__top__right__language">
                                        <a href="#"><i class="fa fa-user"></i> Chào, @userName <i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li><a href="/Account/LichSuMuaHang">Đơn hàng</a></li>
                                            <li><a href="/Account/Logout" style="color:red !important">Thoát</a></li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <a href="/Account/Login"><i class="fa fa-user"></i> Đăng Nhập</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Trang Chủ</a></li>
                            <li><a href="/Home/Shop">Cửa Hàng</a></li>
                            <li>
                                <a href="#">Trang <i class="fa fa-angle-down"></i></a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/Home/Cart">Giỏ Hàng</a></li>
                                    <li><a href="/Home/Checkout">Thanh Toán</a></li>
                                    <li><a href="/Account/LichSuMuaHang">Lịch sử đơn hàng</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="/Home/Cart"><i class="fa fa-shopping-bag"></i> <span id="cart-count">0</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-content">
        @RenderBody()
    </div>

    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="/"><img src="/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: 123 Công Nghệ, TP.HCM</li>
                            <li>Phone: +84 123 456 789</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liên kết nhanh</h6>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="/Account/LichSuMuaHang">Lịch sử mua hàng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Đăng ký nhận tin</h6>
                        <form action="#">
                            <input type="text" placeholder="Email của bạn">
                            <button type="submit" class="site-btn">Đăng ký</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>

    <script>
        window.appUserName = '@(HttpContextAccessor.HttpContext?.Session.GetString("UserName") ?? "")';
    </script>

    <script src="/js/cart.js"></script>
    <script src="/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>